{% extends 'base.html' %}

{% block title %}{{ category_name|title }} Products{% endblock %}

{% block content %}
<h2 class="mb-4">{{ category_name|title }} Products</h2>

<div class="row">
    {% for product in products %}
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" style="height:200px; object-fit:cover;">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>

                <p class="card-text">{{ product.description|truncatewords:20 }}</p>
                <p class="card-text"><strong>₹ {{ product.price }}</strong></p>

                {% if user.is_authenticated and user.role == 'customer' %}
                    <a href="{% url 'add_to_cart' product.id %}" class="btn btn-primary btn-sm w-100">Add to Cart</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% empty %}
    <p>No products available in this category.</p>
    {% endfor %}
</div>
{% endblock %}
