{% extends 'base.html' %}

{% block content %}
<h2>All Accepted Events</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>Title</th>
        <th>Booked By</th>
        <th>Date</th>
        <th>Start</th>
        <th>End</th>
    </tr>

    {% for event in events %}
    <tr>
        <td>{{ event.title }}</td>

        <!-- YAHAN Booked By -->
        <td>
    
        {{ event.created_by.username }}

</td>

        <td>{{ event.date }}</td>
        <td>{{ event.start_time }}</td>
        <td>{{ event.end_time }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
