{% extends 'base.html' %}

{% block content %}
<h3>Edit Event</h3>

<form method="post">
    {% csrf_token %}

    <div class="mb-2">
        <label>Title</label>
        <input type="text" name="title" value="{{ event.title }}" class="form-control">
    </div>

    <div class="mb-2">
        <label>Description</label>
        <textarea name="description" class="form-control">{{ event.description }}</textarea>
    </div>

    <div class="mb-2">
        <label>Date</label>
        <input type="date" name="date" value="{{ event.date }}" class="form-control">
    </div>

    <div class="mb-2">
        <label>Start Time</label>
        <input type="time" name="start_time" value="{{ event.start_time }}" class="form-control">
    </div>

    <button class="btn btn-success">Update Event</button>
</form>
{% endblock %}
